@model Musicas

<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <h2><strong>CUIDADO!</strong> Voce esta preste a apagar o filme! Desseja confirmar?</h2>

    <a asp-controller="Musicas" asp-route-Id="@Model.Id" asp-action="Delete">Confirma</a><!--Porque nao funciona-->
    <a asp-controller="Musicas" asp-action="Index">Voltar</a>
</div>